<div class="panel panel-primary">
  <div class="panel-heading">
    <h2>Lista Preferencji</h2>
  </div>
  <div class="panel-body">
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Imię</th>
        <th>Nazwisko</th>
        <th>Min l. godz. pracy</th>
        <th>Maks l. godz. pracy</th>
        <th>Początek urlopu</th>
        <th>Koniec urlopu</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let task of tasks | async">
        <td>{{task.name}}</td>
        <td>{{task.surname}}</td>
        <td>{{task.min}}</td>
        <td>{{task.max}}</td>
        <td>{{task.start}}</td>
        <td>{{task.end}}</td>
        <td><button (click)="deleteTask(task.taskId)" class="btn btn-danger">Usuń</button>
          <button (click)="updateTask(task.taskId)" class="btn btn-success" style="margin-left: 10px">Zmień</button>
          <button (click)="taskDetails(task.taskId)" class="btn btn-info" style="margin-left: 10px">Podgląd</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <button type="generate" class="btn btn-success">Generuj grafik</button>
</div>
