<h2>Podgląd</h2>

<hr/>
<div *ngIf="task">
  <div>
    <label><b>ID: </b></label> {{task.taskId}}
  </div>
  <div>
    <label><b>Imię: </b></label> {{task.name}}
  </div>
  <div>
    <label><b>Nazwisko: </b></label> {{task.surname}}
  </div>
  <div>
    <label><b>Min: </b></label> {{task.min}}
  </div>
  <div>
    <label><b>Max: </b></label> {{task.max}}
  </div>
  <div>
    <label><b>Początek: </b></label> {{task.start}}
  </div>
  <div>
    <label><b>Koniec: </b></label> {{task.end}}
  </div>
</div>

<br>
<br>
<button (click)="list()" class="btn btn-primary">Powrót do listy</button><br>
