<h3>Zmień Preferencje</h3>
<div [hidden]="submitted" style="width: 400px;">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Imię</label>
      <input type="text" class="form-control" id="name" required [(ngModel)]="task.name" name="name">
      <label for="name">Nazwisko</label>
      <input type="text" class="form-control" id="surname" required [(ngModel)]="task.surname" name="surname">
      <label for="name">Minimalna Liczba Godzin Pracy</label>
      <input type="text" class="form-control" id="min" required [(ngModel)]="task.min" name="min">
      <label for="name">Maksymalna Liczba Godzin Pracy</label>
      <input type="text" class="form-control" id="max" required [(ngModel)]="task.max" name="max">
      <label for="name">Początek Urlopu</label>
      <input type="date" class="form-control" th:field="*{start}" id="start" required [(ngModel)]="task.start" name="start">
      <label for="name">Koniec Urlopu</label>
      <input type="date" class="form-control" th:field="*{end}" id="end" required [(ngModel)]="task.end" name="end">
    </div>

    <div class="form-group">
      <label for="taskId">ID</label>
      <input type="number" class="form-control" id="taskId" required [(ngModel)]="task.taskId" name="taskId">
    </div>

    <button type="submit" class="btn btn-success">Zapisz</button>
    
  </form>
</div>
