<h3>Zmień Preferencje</h3>
<div [hidden]="submitted" style="width: 400px;">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Imię</label>
      <input type="text" class="form-control" id="name" required [(ngModel)]="task.name" name="name">
    </div>

    <div class="form-group">
      <label for="name">Nazwisko</label>
      <input type="text" class="form-control" id="surname" required [(ngModel)]="task.surname" name="surname">
    </div>

    <div class="form-group">
      <label for="name">Dni wolne</label>
      <input type="text" class="form-control" id="freeDays" required [(ngModel)]="task.freeDays" name="freeDays">
    </div>

    <div class="form-group">
      <label for="name">Zmiana</label>
      <input type="text" class="form-control" id="shiftHours" required [(ngModel)]="task.shiftHours" name="shiftHours">
    </div>

    <div class="form-group">
      <label for="name">Urlop</label>
      <input type="text" class="form-control" id="holiday" required [(ngModel)]="task.holiday" name="holiday">
    </div>
    <button type="submit" class="btn btn-success">Zapisz</button>
  </form>
</div>
